.form-login {
  text-align: center;
  margin: 0 auto;
  padding-top: 120px;
  max-width: 352px;
}
h1 {
  margin-bottom: 20px;
}
.form-control {
  width: 100%;
  height: 482px;
  background: #1f1f1f;
  border-radius: 6px;
  padding: 45px 60px;
}

.form-list {
  display: flex;
  flex-direction: column;
}

.form-or {
  width: 100%;
  text-align: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  line-height: 0.1rem;
  margin-top: 26px;
}

.btn-internet {
  margin-top: 25px;
}
.btn-login {
  color: #fff;
  background-color: #ff6500;
  border-color: #ff6500;
  font-weight: 600;
}

.btn-login:hover {
  cursor: pointer;
  color: #fff;
  background-color: #d95600;
  border-color: #cc5100;
}

.btn-facebook {
  margin-bottom: 10px;
  background-color: #4267b2;
  cursor: pointer;
  font-weight: 600;
}

.btn-facebook:hover {
  background-color: #2d477a;
}

.btn-google {
  background-color: #dd4b39;
  cursor: pointer;
  font-weight: 600;
}

.btn-google:hover {
  background-color: #ac2d1e;
}

.form-register {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

p {
  font-size: 15px;
}

.or {
  margin-left: 0;
  padding: 0 10px;
  background-color: #1a1919 !important;
  border-radius: 12px;
}

.account {
  margin-right: 6px;
  font-size: 15px;
}

.forgot {
  color: #828282 !important;
  font-size: 15px;
}
.register {
  font-size: 15px;
  color: #b4b4b4;
}

.policies {
  color: #fff;
  margin-bottom: 10px;
}
.policies:hover {
  color: #ff6500;
}

.form-rules {
  margin-top: 5px;
}

.rules {
  font-size: 15px;
  color: #b4b4b4;
}

.error {
  color: red;
  margin-top: -10px;
}

.form-list {
  margin-bottom: 1px;
}

.invalid {
  border: solid 1px #b40e0e !important;
  background-color: #fddddd !important;
}

span {
  margin-left: 0;
}

input:focus {
  border-color: #fd9b5a;
  box-shadow: 0 0 0 0.2rem rgb(255 101 0 / 25%);
  background-color: #fbe8d2;
}

button {
  width: 100%;
  height: 40px;
  color: #fff;
  border-radius: 4px;
  border: none;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
