.container-infor {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.wrapper {
  display: flex;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
.infor {
  margin-top: 25px;
}
.infor-avatar {
  max-width: 115px;
  max-height: 115px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-left: 5px;
}
.infor-detail {
}

.infor-detail__email {
  font-size: 30px;
  color: #fff;
}

.infor-detail__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.block {
  width: 1px;
  height: 20px;
  background: #828282;
  margin: 0 15px;
}

.infor-detail__rank,
.infor-detail__point {
  color: #fff;
  font-size: 20px;
}

.btn-infor {
  position: absolute;
  right: 0;
  margin-top: 25px;
  display: flex;
  align-items: center;
  max-width: 185px;
  width: 100%;
  height: 40px;
}

.btn-infor i {
  font-size: 20px;
  margin-left: 15px;
}

.btn-infor p {
  font-size: 20px;
  color: #fff;
  padding: 5px;
}

.form-info {
  display: flex;
  flex-direction: row;
  gap: 35px;
}

.form-info__wrapper {
  max-width: 410px;
  width: 100%;
}

.form-info__right {
  max-width:410px;
  width: 100%;
}
.form-wrapper {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.form-wrapper i {
  font-size: 32px;
  margin-right: 20px;
  margin-left: 20px;
  color: #4a4a4a;
}

h5 {
  font-size: 16px;
  color: #4a4a4a;
}

.text {
  font-size: 16px;
  color: #fff !important;
}

